body {
  font-family: 'Press Start 2P', cursive;
  background: #000;
}

h1 {
  margin: 20px 0;
  padding: 10px 0;
  font-size: 28px;
  color: #fff;
  text-align: center;
  border-top: 5px double red;
  border-bottom: 5px double red;
}

h5 {
  margin: 20px 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

#canvas-container {
  width: 100%;
  text-align: center;
  position: relative;
}

#canvas {
  background: #fff;
  display: inline;
}

.footer {
  position: relative;
  width: 900px;
  display: flex;
  margin: 15px auto;
  justify-content: space-between;
  border: 2px double red;
  padding: 10px 5px;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.link:hover {
  background: #aaa;
  color: red;
}

.points {
  position: absolute;
  top: -60px;
  left: 30px;
}

.highscore {
  position: absolute;
  top: -60px;
  right: 30px;
}
