.modal {
  opacity: 1;
  position: fixed;
  color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal > div {
  width: 50%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #000;
  background: -moz-linear-gradient(#000, #3d3d3d);
  background: -webkit-linear-gradient(#000, #3d3d3d);
  background: -o-linear-gradient(#000, #3d3d3d);
}

.inner-modal {
  text-align: center;
}

.close {
  background: #606061;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  cursor: pointer;
  border-radius: 15px;
}

.close:hover {
  color: red;
}

.modal-header {
  font-size: 20px;
}

.start {
  font-size: 20px;
  padding: 5px 10px;
  background: #E50914;
  border-radius: 5px;
  cursor: pointer;
}

.start:hover {
  background: red;
  padding: 7px 12px;
}

.modal-desc {
  font-size: 14px;
}

.game-modal {
  color: #fff;
  position: absolute;
  cursor: pointer;
  top: 300px !important;
  bottom: initial;
  left: 50%;
  transform: translateX(-50%);
  width: 22% !important;
  background: #E50914 !important;
  padding: 10px 20px !important;
  text-align: center !important;
}

.game-modal:hover {
  background: red !important;
  padding: 15px 25px !important;
}
